*{
    margin: 0px;
    padding: 0px;
}
a:link,a:hover{
    text-decoration: none;
    color: #999;
}
input:focus{
    outline-width: 0;
}
body{
    background: #CDCDCD;
    font-size: 16px;
}

header{
    background: rgb(50,50,50);
}
form,section{
    max-width: 600px;
    margin: auto;
}
form{
    height: 50px;
}
label{
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #DDD;
    line-height: 50px;
}
#title{
    float: right;
    width: 60%;
    height: 26px;
    margin-top: 12px;
    border-radius: 5px;
    text-indent:10px;
    border: none;
}

h2{
    margin: 20px 0;
    position: relative;
}

span#doingcount,span#finishcount{
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    height: 20px;
    line-height: 22px;
    background-color:#E6E6FA;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    color:#666;
    padding:0 5px;
    margin-top: 2px;
    margin-right: 5px;
}

ul{
    list-style: none;
}
li{
    height: 32px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding:0 45px;
    position: relative;
    background: #fff;
    line-height: 32px;
}
li input[type="checkbox"]{
    height: 22px;
    width: 22px;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 10px;
    margin: 3px 3px 3px 4px;

}
li span{
    position: absolute;
    right: 5px;
    top: 2px;
    width: 14px;
    height: 12px;
    border: 6px double #FFF;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #ccc;
    color: #fff;
    line-height: 14px;
    cursor: pointer;
}
li.doinglists{
    cursor: move;
    border-left:5px solid #629A9C;
}
li.finishlists{
    border-left:5px solid #999;
    opacity: 0.5;
}
li p input{
    width: 70%;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    text-indent: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;
}
footer{
    text-align:center;
    color: #666;
    font-size:14px;
}